business-table{    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    business-search{
        float: right;
    }
    business-header{        
        border: solid 1px black;
        background-color: black;
        color:white;    
    }
    business-row,business-header{   
        width: 100%;
        //min-height: @business-rowhight;
        display: inline-block;
        border-left: solid 1px black;
        border-right: solid 1px black;
       business-data{
             width: 100%;
               //min-height: @business-rowhight;
               border-bottom:  solid 1px black;
              display: inline-block;

         };
         business-icon, business-spacer {
                //  background-color: green;         
       
               // min-height: @business-rowhight;
                float: left;
                display: inline-block;
                //border-bottom: solid 1px black
                
            };
          business-col, business-title{
            // background-color: red;
              
               // min-height: @business-rowhight;       
                float: left;
                border-left: solid 1px black;
                display: inline-block;
            
            };
       // business-spacer{
           //background-color: gray;
         //  border-right: solid 1px white;
      // };
    };   
        
    business-body{
       display: inline-block;
       //background-color: lightblue;
       border-bottom:  solid 1px black;
    }
}